<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Please wait...</h1>
    <form name="f1" id="form1" method="post" action="http://localhost:3002/api/paytm/request">
        <input type="text" id="ORDER_ID" name="ORDER_ID" value='sdkfsdsdsdsdsfsdfdfgasdsqedflkkn3435' />
        <input type="text" name="INDUSTRY_TYPE_ID" value="Retail" />
        <input type="text" id="CUST_ID" name="CUST_ID" value='kush' />
        <input type="text" id="CHANNEL_ID" name="CHANNEL_ID" value='WEB' />
        <input type="text" id="TXN_AMOUNT" name="TXN_AMOUNT" value='200' />
        <input type="text" name="WEBSITE" value="WEBSTAGING" />
        <input type="text" name="MID" value="Mid" />
        <input type="text" name="PAYTM_MERCHANT_KEY" value="merchantkey" />
        <button type="submit" id="user-submit">Submit</button>
    </form>
</body>

</html>